{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="text-center justify-content-center">
    <div class="pt-3">

        <input type="submit" name="submit" class="btn text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #137935;font-weight: 600;" value='Aggiungi nuovo Donatore'>

        <div class="row justify-content-center m-0">
            <form class="col-lg-3" method="post" action="{% url 'modifica_donatore' %}">
                {% csrf_token %}
                <div class="input-group pt-3 pe-1 ps-1">
                    <input type="number" class="form-control shadow-none" name="tesseraMod" id="tesseraMod" placeholder="Numero Tessera" aria-label="Numero Tessera" required>
                    <button type="submit" class="btn text-white" style="background-color: #cc0000">Modifica Tessera</button>
                </div>
            </form>
        </div>

        <div class="row justify-content-center m-0">
            <form class="col-lg-3" method="post" action="{% url 'scarica_tessera' %}">
                {% csrf_token %}
                <div class="input-group pt-3 pb-3 pe-1 ps-1">
                    <input type="number" class="form-control shadow-none" name="numTessera" id="numTessera" placeholder="Numero Tessera" aria-label="Numero Tessera" required>
                    <button type="submit" class="btn text-white" style="background-color: #cc0000">Scarica Tessera</button>
                </div>
                
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Aggiungi Donatore</h1>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'aggiungi_donatore' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="fototessera" class="form-label">Fototessera</label>
                        <input class="form-control" type="file" name="fototessera">
                      </div>
                    <div class="mb-3">
                        <label for="dataiscrizione" class="form-label">Data Iscrizione</label>
                        <input type="date" class="form-control" name="dataiscrizione" id="dataiscrizione" required>
                    </div>
                    <div class="mb-3">
                        <label for="grupposanguigno" class="form-label">Gruppo Sanguigno</label>
                        <select class="form-control" name="grupposanguigno" id="grupposanguigno" required>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="0+">0+</option>
                            <option value="0-">0-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="fenotipo" class="form-label">Fenotipo</label>
                        <select class="form-control" id="fenotipo" name="fenotipo" required>
                            <option value="CCDee">CCDee</option>
                            <option value="ccDEE">ccDEE</option>
                            <option value="CcDee">CcDee</option>
                            <option value="ccDEe">ccDEe</option>
                            <option value="ccDee">ccDee</option>
                            <option value="CCDEE">CCDEE</option>
                            <option value="CCDEe">CCDEe</option>
                            <option value="CcDEE">CcDEE</option>
                            <option value="CcDEe">CcDEe</option>
                            <option value="Ccddee">Ccddee</option>
                            <option value="CCddee">CCddee</option>
                            <option value="ccddEe">ccddEe</option>
                            <option value="ccddEE">ccddEE</option>
                            <option value="ccddee">ccddee</option>
                            <option value="CcddEe">CcddEe</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="kell" class="form-label">Kell</label>
                        <select class="form-control" id="kell" name="kell" required>
                            <option value="K+k+">K+k+</option>
                            <option value="K+k-">K+k-</option>
                            <option value="K-k+">K-k+</option>
                            <option value="K-k-">K-k-</option>
                            <option value="Kp(a+b+)">Kp(a+b+)</option>
                            <option value="Kp(a-b+)">Kp(a-b+)</option>
                            <option value="Kk">Kk</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="nome" id="nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="cognome" class="form-label">Cognome</label>
                        <input type="text" class="form-control" name="cognome" id="cognome" required>
                    </div>
                    <div class="mb-3">
                        <label for="datadinascita" class="form-label">Data di nascita</label>
                        <input type="date" class="form-control" name="datadinascita" id="datadinascita" required>
                    </div>
                    <div class="mb-3">
                        <label for="luogodinascita" class="form-label">Luogo di nascita</label>
                        <input type="text" class="form-control" name="luogodinascita" id="luogodinascita" required>
                    </div>
                    <div class="mb-3">
                        <label for="codicefiscale" class="form-label">Codice Fiscale</label>
                        <input type="text" class="form-control" name="codicefiscale" id="codicefiscale" maxlength="16" style="text-transform:uppercase" required>
                    </div>
                    <div class="mb-3">
                        <label for="indirizzo" class="form-label">Indirizzo</label>
                        <input type="text" class="form-control" name="indirizzo" id="indirizzo" required>
                    </div>
                    <div class="mb-3">
                        <label for="comune" class="form-label">Comune</label>
                        <input type="text" class="form-control" name="comune" id="comune" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="tel" class="form-control" name="telefono" id="telefono" maxlength="10" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>

                    <button type="submit" class="btn text-white" style="background-color: #137935">Aggiungi</button>
                    <button type="button" class="btn text-white" data-bs-dismiss="modal" style="background-color: #cc0000">Annulla</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <table class="table table-bordered text-nowrap" id="Donatori">
        <thead>
            <tr>
                <th scope="col" class="text-center">Tessera</th>
                <th scope="col" class="text-center">Nome</th>
                <th scope="col" class="text-center">Cognome</th>
                <th scope="col" class="text-center">Data Iscrizione</th>
                <th scope="col" class="text-center">Gruppo Sanguigno</th>
                <th scope="col" class="text-center">Fenotipo</th>
                <th scope="col" class="text-center">Kell</th>
                <th scope="col" class="text-center">Data di nascita</th>
                <th scope="col" class="text-center">Luogo di nascita</th>
                <th scope="col" class="text-center">Codice Fiscale</th>
                <th scope="col" class="text-center">Indirizzo</th>
                <th scope="col" class="text-center">Comune</th>
                <th scope="col" class="text-center">Telefono</th>
                <th scope="col" class="text-center">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for donatore in donatori %}
            <tr class="text-center">
                <td>{{ donatore.tessera }}</td>
                <td>{{ donatore.nome }}</td>
                <td>{{ donatore.cognome }}</td>
                <td>{{ donatore.dataiscrizione|date:"d/m/Y" }}</td>
                <td>{{ donatore.grupposang }}</td>
                <td>{{ donatore.fenotipo }}</td>
                <td>{{ donatore.kell }}</td>
                <td>{{ donatore.datadinascita|date:"d/m/Y" }}</td>
                <td>{{ donatore.luogodinascita }}</td>
                <td>{{ donatore.codicefiscale }}</td>
                <td>{{ donatore.indirizzo }}</td>
                <td>{{ donatore.comune }}</td>
                <td>{{ donatore.tel }}</td>
                <td>{{ donatore.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="mt-4 text-end"><a href="{% url 'esporta_donatori' %}">Esporta dati in CSV</a></p>
</div>

<script>
    $(document).ready(function() {
        var table = $('#Donatori').DataTable({
            responsive: true,
            language: {
                url: "{% static 'datatables_it-IT.json' %}",
            },
            order: [
                [0, 'desc']
            ],
        });
    });
</script>

{% endblock content %}