Django==4.2.14
gunicorn==22.0.0
psycopg2-binary==2.9.9
pillow==10.1.0
qrcode==7.4.2
djangorestframework==3.15.2
djangorestframework_api_key==3.0.0
django-apscheduler==0.6.2
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability