{% extends "base.html" %}

{% block head %}
<title>Idoneità | Jupiter</title>
{% endblock head %}

{% block content %}
{% load static %}

<div class="text-center justify-content-center">
    <div class="pt-3">
        {% if messages %}
        {% for message in messages %}
        <div class="row justify-content-center pe-3 ps-3">
            <div class="col-md-3">
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <input type="submit" name="submit" class="btn text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #137935;font-weight: 600;" value='Aggiungi Predonazione'>
        <div class="row justify-content-center m-0">
            <form class="col-lg-4" method="post" action="{% url 'modifica_predonazione' %}">
                {% csrf_token %}
                <div class="input-group p-3">
                    <input type="number" class="form-control shadow-none" name="idpred" id="idpred" placeholder="ID Predonazione" aria-label="ID Predonazione" required>
                    <button type="submit" class="btn text-white" style="background-color: #cc0000">Modifica</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Aggiungi Predonazione</h1>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'aggiungi_predonazione' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nominativo" class="form-label">Nominativo</label>
                        <input type="text" class="form-control" name="nominativo" id="nominativo" required>
                    </div>
                    <div class="mb-3">
                        <label for="dataprelievo" class="form-label">Data Prelievo</label>
                        <input type="date" class="form-control" name="dataprelievo" id="dataprelievo" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="tel" class="form-control" name="telefono" id="telefono" maxlength="10" required>
                    </div>
                    <div class="mb-3">
                        <label for="idoneo" class="form-label">Idoneità</label>
                        <select class="form-control" name="idoneo" id="idoneo" required>
                            <option value="Idoneo">Idoneo</option>
                            <option value="Non idoneo">Non idoneo</option>
                            <option value="In attesa">In attesa</option>
                        </select>
                    </div>

                    <button type="submit" class="btn text-white" style="background-color: #137935">Aggiungi</button>
                    <button type="button" class="btn text-white" data-bs-dismiss="modal" style="background-color: #cc0000">Annulla</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <table class="table table-bordered text-nowrap" id="Predonazioni">
        <thead>
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">Nominativo</th>
                <th scope="col" class="text-center">Data Prelievo</th>
                <th scope="col" class="text-center">Telefono</th>
                <th scope="col" class="text-center">Idoneo</th>
            </tr>
        </thead>
        <tbody>
        {% for predonazione in predonazioni %}
            <tr class="text-center">
                <td>{{ predonazione.id }}</td>
                <td>{{ predonazione.nominativo }}</td>
                <td>{{ predonazione.dataprelievo|date:"d/m/Y" }}</td>
                <td>{{ predonazione.telefono }}</td>
                <td>{{ predonazione.idoneo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-euro-pre": function (a) {
            var dateArray = a.split('/');
            return Date.parse(dateArray[2] + '/' + dateArray[1] + '/' + dateArray[0]) || 0;
        },
        
        "date-euro-asc": function (a, b) {
            return a - b;
        },
        
        "date-euro-desc": function (a, b) {
            return b - a;
        }
    });

    $(document).ready(function() {
        var table = $('#Predonazioni').DataTable({
            responsive: true,
            language: {
                url: "{% static 'datatables_it-IT.json' %}",
            },
            order: [
                [2, 'desc']
            ],
            columnDefs: [
                { type: 'date-euro', targets: 2 }
            ]
        });
    });
</script>

{% endblock content %}