{% extends "base.html" %}

{% block head %}
<title>Modifica Predonazione | Jupiter</title>
{% endblock head %}

{% block content %}
<div class="container p-3" style="background-color: rgba(219, 219, 219, 0.459);">
    <h2 align="center">Modifica Predonazione</h2>
    <h4 align="center">ID Numero {{ predonazione.id }}</h4>
    <form method="post" action="{% url 'salva_predonazione' %}">
        {% csrf_token %}
        <input type="hidden" id="predonazioneMod" name="predonazioneMod" value="{{ predonazione.id }}">
        <div class="mb-3">
            <label for="nominativo" class="form-label">Nominativo</label>
            <input type="text" class="form-control" name="nominativo" id="nominativo" value="{{ predonazione.nominativo }}" required>
        </div>
        <div class="mb-3">
            <label for="dataprelievo" class="form-label">Data Prelievo</label>
            <input type="date" class="form-control" name="dataprelievo" id="dataprelievo" value="{{ predonazione.dataprelievo|date:'Y-m-d' }}" required>
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="tel" class="form-control" name="telefono" id="telefono" maxlength="10" value="{{ predonazione.telefono }}" required>
        </div>
        <div class="mb-3">
            <label for="idoneo" class="form-label">Idoneità</label>
            <select class="form-control" name="idoneo" id="idoneo" required>
                <option value="Idoneo" {% if predonazione.idoneo == "Idoneo" %}selected{% endif %}>Idoneo</option>
                <option value="Non idoneo" {% if predonazione.idoneo == "Non idoneo" %}selected{% endif %}>Non idoneo</option>
                <option value="In attesa" {% if predonazione.idoneo == "In attesa" %}selected{% endif %}>In attesa</option>
            </select>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn text-white btn-lg" style="background-color: #137935">Salva</button>
            <button type="button" class="btn text-white btn-lg" style="background-color: #cc0000" onclick="location.href = '/idoneita';">Annulla</button>
        </div>
    </form>
    <form method="post" action="{% url 'elimina_predonazione' %}">
        {% csrf_token %}
        <div class="pt-5 d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="hidden" name="idCanc" id="idCanc" value="{{ predonazione.id }}">
            <button type="submit" class="btn text-white" style="background-color: #cc0000">Elimina Predonazione</button>
        </div>
    </form>
</div> 
{% endblock content %}