{% extends "base.html" %}

{% block content %}
<div class="container"> 
    <div class="row justify-content-center p-4">
         <div class="col-md-4 rounded-2 p-3" style="background-color:#ebebeb">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <input type="hidden" id="next" name="next" value="{{ request.GET.next }}">

                {% if changedpw %}
                <div class="alert alert-success" role="alert">{{ changedpw }}</div>
                {% endif %}

                {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}

                <div class="mb-3">
                    <label for="username" class="form-label"><b>Nome utente</b></label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label"><b>Password</b></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>

                <div class="mb-3 d-grid gap-2">
                    <input type="submit" name="submit" class="btn text-white" style="background-color: #cc0000;font-weight: 600;" value='Accedi'>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}