{% extends "base.html" %}

{% block head %}
<title>Donazione Sangue - Croce Rossa Italiana</title>
{% endblock head %}

{% block content %}

<div class="row justify-content-center m-0 pt-4 pe-4 ps-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Benvenuto!</h2>
                <p class="card-text">Vuoi diventare un <b>donatore di sangue</b> per la Croce Rossa Italiana? Sei nel posto giusto!<br><br>Per ulteriori informazioni e per prenotare la tua donazione, clicca sul pulsante sottostante e recati al centro trasfusionale dell'ospedale di <b>Avola</b> nel giorno prestabilito.<br><br>Ricorda che donando non solo contribuirai a <b>salvare una vita</b>, ma avrai anche accesso a una serie di vantaggi, tra cui esami periodici, convenzioni e molto altro!<br><br>Se sei già un nostro donatore, accedi con le tue credenziali per visualizzare la tua tessera, i tuoi dati e lo storico delle donazioni!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a href="https://criavola.it/donazione-sangue/" class="btn text-white" style="background-color: #cc0000" ><b>Prenota la tua donazione!</b></a></div>
            </div>
        </div>
    </div>
</div>

<div class="container"> 
    <div class="row justify-content-center p-4">
         <div class="col-md-4 rounded-2 p-3" style="background-color:#ebebeb">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <input type="hidden" id="next" name="next" value="{{ request.GET.next }}">

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}

                <div class="mb-3">
                    <label for="username" class="form-label"><b>Nome utente</b></label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label"><b>Password</b></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                
                <div class="mb-3 d-grid gap-2">
                    <input type="submit" name="submit" class="btn text-white" style="background-color: #cc0000;font-weight: 600;" value='Accedi'>
                </div>

                <p class="mb-0 text-end"><a class="text-decoration-none" href="{% url 'password_reset' %}">Password dimenticata?</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}