{% autoescape off %}
Benvenuto donatore, benvenuta donatrice!
<br><br>
Di seguito troverai un link per impostare la password d'accesso alla piattaforma Jupiter con la quale potrai vedere i tuoi dati e scaricare la tua tessera!    
<br><br>
{% block reset_link %}
<a href="https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
{% endblock %}
<br><br>
Il tuo nome utente:  {{ user.get_username }}
<br><br>
Per qualsiasi dubbio e per prenotare la tua prossima donazione visita la nostra pagina web dedicata alla donazione del sangue! <a href="https://criavola.it/donazione-sangue">Donazione Sangue</a>
<br><br><br>
<b>Informativa sulla Privacy - come previsto ai sensi dell’art. 13 del Regolamento UE 679/2016.</b>
<br>
Si precisa che le informazioni contenute in questo messaggio sono riservate e ad uso esclusivo del destinatario.
Qualora questo messaggio Le fosse pervenuto per errore, La preghiamo di eliminarlo senza copiarlo e di non inoltrarlo a terzi, dandocene gentilmente comunicazione.
Grazie per la collaborazione.
{% endautoescape %}