{% extends "base.html" %}

{% block content %}

{% if validlink %}

<div class="row justify-content-center pt-3 pe-3 ps-3">
    <div class="col-md-3">
        <div class="alert alert-success" role="alert">Inserisci la nuova password!<br><br>La password deve essere composta da almeno 8 caratteri, deve contenere almeno una lettera maiuscola, un numero ed un carattere speciale (!,?,..)</div>
    </div>
</div>

<div class="container"> 
    <div class="row justify-content-center p-2">
         <div class="col-md-4 rounded-2 p-3" style="background-color:#ebebeb">
            <form method="post">
                {% csrf_token %}

                <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">

                {% if form.errors %}
                <div class="alert alert-danger text-center" role="alert">Errore! Riprova :(</div>
                {% endif %}

                <div class="mb-3">
                    <label for="{{ form.new_password1.name }}" class="form-label"><b>Nuova password</b></label>
                    <input type="password" class="form-control" id="{{ form.new_password1.name }}" name="{{ form.new_password1.name }}" placeholder="Password" required>
                </div>

                <div class="mb-3">
                    <label for="{{ form.new_password2.name }}" class="form-label"><b>Conferma password</b></label>
                    <input type="password" class="form-control" id="{{ form.new_password2.name }}" name="{{ form.new_password2.name }}" placeholder="Password" required>
                </div>

                <div class="mb-3 d-grid gap-2">
                    <input type="submit" name="submit" class="btn text-white" style="background-color: #cc0000;font-weight: 600;" value='Modifica'>
                </div>
            </form>
        </div>
    </div>
</div>

{% else %}
<div class="alert alert-danger m-3 text-center" role="alert"><b>Il link non è valido! :c</b><br><a href="https://jupiter.criavola.it/password_reset/">Clicca per richiedere un nuovo link per reimpostare la password</a></div>
{% endif %}

{% endblock %}