{% extends "base.html" %}

{% block content %}


{% if errore %}
<div class="row justify-content-center m-4"><div class="col-lg-3 alert alert-danger text-center" role="alert"><h1>{{ errore }}</h1><br><p>Croce Rossa Italiana - Comitato di Avola<br>Via Santa Lucia 86<br>96012 Avola (SR)<br>Email: avola@cri.it</p></div></div>
{% endif %}

{% if donatore %}
<div class="row justify-content-center m-4">
<div class="col-lg-3 alert alert-success text-center" role="alert">
    <h1>Tessera valida!</h1><br>
    <p><b>Numero Tessera:</b> {{ donatore.tessera }}<br><b>Donatore:</b> {{ donatore.nome }} {{ donatore.cognome }}<br><b>Data di nascita:</b> {{ donatore.datadinascita|date:"d/m/Y" }}</p>
    <br>
    <p>Croce Rossa Italiana - Comitato di Avola<br>Via Santa Lucia 86<br>96012 Avola (SR)<br>Email: avola@cri.it</p>
</div>
</div>
{% endif %}

{% endblock %}