{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="text-center justify-content-center">
    <div class="pt-3">
        {% if messages %}
        {% for message in messages %}
        <div class="row justify-content-center pe-3 ps-3">
            <div class="col-md-3">
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if request.user.is_staff %}
        <input type="submit" name="submit" class="btn text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #137935;font-weight: 600;" value='Aggiungi Donazione'>
  
        <div class="row justify-content-center m-0">
            <form class="col-lg-3" method="post" action="{% url 'modifica_donazione' %}">
                {% csrf_token %}
                <div class="input-group p-3">
                    <input type="text" class="form-control shadow-none" name="donazioneMod" id="donazioneMod" placeholder="ID Donazione" aria-label="ID Donazione" required>
                    <button type="submit" class="btn text-white" style="background-color: #cc0000">Modifica Donazione</button>
                </div>
            </form>
            <form class="col-lg-3" method="post" action="{% url 'storico_donazioni' %}">
                {% csrf_token %}
                <div class="input-group pt-md-3 pe-3 ps-3 pb-3">
                    <input type="text" class="form-control shadow-none" name="visualDonazioni" id="visualDonazioni" placeholder="Tessera Donatore" aria-label="Tessera Donatore" required>
                    <button type="submit" class="btn text-white" style="background-color: #cc0000">Storico Donazioni</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Aggiungi donazione</h1>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'aggiungi_donazione' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="tessera" class="form-label">Numero Tessera</label>
                        <input type="text" class="form-control" name="tessera" id="tessera" required>
                    </div>
                    <div class="mb-3">
                        <label for="datadonazione" class="form-label">Data</label>
                        <input type="date" class="form-control" name="datadonazione" id="datadonazione" required>
                    </div>
                    <div class="mb-3">
                        <label for="tipodonazione" class="form-label">Tipo Donazione</label>
                        <select class="form-control" name="tipodonazione" id="tipodonazione" required>
                            <option value="Sangue">Sangue</option>
                            <option value="Plasma">Plasma</option>
                            <option value="Piastrine">Piastrine</option>
                        </select>
                    </div>

                    <button type="submit" class="btn text-white" style="background-color: #137935">Aggiungi</button>
                    <button type="button" class="btn text-white" data-bs-dismiss="modal" style="background-color: #cc0000">Annulla</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <table class="table table-bordered text-nowrap" id="Donazioni">
        <thead>
            <tr>
                {% if request.user.is_staff %}
                <th scope="col" class="text-center">ID Donazione</th>
                <th scope="col" class="text-center">Tessera Donatore</th>
                <th scope="col" class="text-center">Nome</th>
                <th scope="col" class="text-center">Cognome</th>
                {% endif %}
                <th scope="col" class="text-center">Data</th>
                <th scope="col" class="text-center">Tipo</th>
            </tr>
        </thead>
        <tbody>
        {% for donazione in donazioni %}
            <tr class="text-center">
                {% if request.user.is_staff %}
                <td>{{ donazione.id }}</td>
                <td>{{ donazione.donatore_id }}</td>
                <td>{{ donazione.donatore.nome }}</td>
                <td>{{ donazione.donatore.cognome }}</td>
                {% endif %}
                <td>{{ donazione.data|date:"d/m/Y" }}</td>
                <td>{{ donazione.tipo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if request.user.is_staff %}
    <p class="mt-4 text-end"><a href="{% url 'esporta_donazioni' %}">Esporta dati in CSV</a></p>
    {% endif %}
</div>

<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-euro-pre": function (a) {
            var dateArray = a.split('/');
            return Date.parse(dateArray[2] + '/' + dateArray[1] + '/' + dateArray[0]) || 0;
        },
        
        "date-euro-asc": function (a, b) {
            return a - b;
        },
        
        "date-euro-desc": function (a, b) {
            return b - a;
        }
    });
</script>

{% if request.user.is_staff %}
<script>
    $(document).ready(function() {
        var table = $('#Donazioni').DataTable({
            responsive: true,
            language: {
                url: "{% static 'datatables_it-IT.json' %}",
            },
            order: [
                [4, 'desc']
            ],
            columnDefs: [
                { type: 'date-euro', targets: 4 }
            ]
        });
    });
</script>
{% elif not request.user.is_staff %}
<script>
    $(document).ready(function() {
        var table = $('#Donazioni').DataTable({
            responsive: true,
            language: {
                url: "{% static 'datatables_it-IT.json' %}",
            },
            order: [
                [1, 'desc']
            ],
            columnDefs: [
                { type: 'date-euro', targets: 1 }
            ]
        });
    });
</script>
{% endif %}

{% endblock content %}