{% extends "base.html" %}

{% block content %}
<div class="container p-3" style="background-color: rgb(219, 219, 219);">
    <h2 align="center">Modifica Donazione</h2>
    <h4 align="center">ID Numero {{ donazione.id }}</h4>
    <form method="post" action="{% url 'salva' %}">
        {% csrf_token %}
        <input type="hidden" id="donazioneMod" name="donazioneMod" value="{{ donazione.id }}">
        <div class="mb-3">
            <label for="tessera" class="form-label">Numero Tessera</label>
            <input type="text" class="form-control" name="tessera" id="tessera" value="{{ donazione.donatore_id }}" required>
        </div>
        <div class="mb-3">
            <label for="tipodonazione" class="form-label">Tipo Donazione</label>
            <select class="form-control" name="tipodonazione" id="tipodonazione" required>
                <option value="Sangue" {% if donazione.tipo == "Sangue" %}selected{% endif %}>Sangue</option>
                <option value="Plasma" {% if donazione.tipo == "Plasma" %}selected{% endif %}>Plasma</option>
                <option value="Piastrine" {% if donazione.tipo == "Piastrine" %}selected{% endif %}>Piastrine</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="data" class="form-label">Data</label>
            <input type="date" class="form-control" name="data" value="{{ donazione.data|date:'Y-m-d' }}" id="data" required>
        </div>
        <div class="mb-3">
            <label for="quantitativo" class="form-label">Quantitativo</label>
            <input type="text" class="form-control" name="quantitativo" value="{{ donazione.quantitativo }}" id="quantitativo" required>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn text-white btn-lg" style="background-color: #137935"><b>Salva</b></button>
            <button type="button" class="btn text-white btn-lg" style="background-color: #cc0000" onclick="location.href = 'donazioni';"><b>Annulla</b></button>
        </div>
    </form>
    <form method="post" action="{% url 'donazioni' %}">
        {% csrf_token %}
        <div class="pt-5 d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="hidden" name="donazioneCanc" id="donazioneCanc" value="{{ donazione.id }}">
            <button type="submit" class="btn text-white" style="background-color: #cc0000">Cancella donazione</button>
        </div>
    </form>
</div> 
{% endblock content %}