{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container p-3" style="background-color: rgba(219, 219, 219, 0.459);">
    <h2 align="center">Storico Donazioni</h2>
    <h4 align="center">Tessera numero {{ tessera }}</h4>
    <table class="table table-bordered text-nowrap" id="Donazioni">
        <thead>
            <tr>
                <th scope="col" class="text-center">ID Donazione</th>
                <th scope="col" class="text-center">Nome</th>
                <th scope="col" class="text-center">Cognome</th>
                <th scope="col" class="text-center">Tessera Donatore</th>
                <th scope="col" class="text-center">Data</th>
                <th scope="col" class="text-center">Tipo</th>
            </tr>
        </thead>
        <tbody>
        {% for donazione in donazioni %}
            <tr class="text-center">
                <td>{{ donazione.id }}</td>
                <td>{{ donazione.donatore.nome }}</td>
                <td>{{ donazione.donatore.cognome }}</td>
                <td>{{ donazione.donatore_id }}</td>
                <td>{{ donazione.data|date:"d/m/Y" }}</td>
                <td>{{ donazione.tipo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-euro-pre": function (a) {
            var dateArray = a.split('/');
            return Date.parse(dateArray[2] + '/' + dateArray[1] + '/' + dateArray[0]) || 0;
        },
        
        "date-euro-asc": function (a, b) {
            return a - b;
        },
        
        "date-euro-desc": function (a, b) {
            return b - a;
        }
    });

    $(document).ready(function() {
        var table = $('#Donazioni').DataTable({
            responsive: true,
            language: {
                url: "{% static 'datatables_it-IT.json' %}",
            },
            order: [
                [4, 'desc']
            ],
            columnDefs: [
                { type: 'date-euro', targets: 4 }
            ]
        });
    });
</script>

{% endblock content %}