{% extends "base.html" %}

{% block content %}  
<div class="container p-3 mt-3 " style="background-color: rgb(219, 219, 219);">
    <h2 align="center">Invia appello</h2>

    <form method="post" action="{% url 'avvisi' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="oggetto" class="form-label">Oggetto email</label>
            <input type="text" class="form-control" name="oggetto" id="oggetto">
          </div>
        <div class="mb-3">
            <label for="messaggio" class="form-label">Messaggio</label>
            <textarea class="form-control" name="messaggio" id="messaggio" rows="3"></textarea>
        </div>    

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn text-white btn-lg" style="background-color: #137935">Invia</button>
        </div>
    </form>

</div> 
{% endblock content %}