{% extends "base.html" %}

{% block content %}

{% if stats %}
<div class="container col-md-5">
    <div class="row">
        <div class="m-2 col p-4 rounded-2" style="background-color: #dfdfdf;line-height: 2">
            <p class="text-left m-0">
            <b>Totale Donatori:</b> {{ stats.totaleDonatori }}<br>
            <b>Totale Donazioni:</b> {{ stats.totaleDonazioni }}<br>
            <b>Donazioni Sangue:</b> {{ stats.donazioniSangue }} - {{ stats.mlSangue }}ml<br>
            <b>Donazioni Plasma:</b> {{ stats.donazioniPlasma }} - {{ stats.mlPlasma }}ml<br>
            <b>Donazioni Piastrine:</b> {{ stats.donazioniPiastrine }} - {{ stats.mlPiastrine }}<br>
            </p>
        </div>
    </div>
</div>
{% endif %}

{% if statsRs %}
<div class="container col-md-5">
    <div class="row">
        <div class="m-2 col p-4 rounded-2" style="background-color: #dfdfdf;line-height: 2">
            <h3 class="text-center">Ricerca dal {{ statsRs.dataInizio|date:"d/m/Y" }} al {{ statsRs.dataFine|date:"d/m/Y" }}</h3>
            <p class="text-left m-0">
            <b>Nuovi donatori:</b> {{ statsRs.totaleDonatori }}<br>
            <b>Donazioni effettuate:</b> {{ statsRs.totaleDonazioni }}<br>
            <b>Donazioni Sangue:</b> {{ statsRs.donazioniSangue }} - {{ statsRs.mlSangue }}ml<br>
            <b>Donazioni Plasma:</b> {{ statsRs.donazioniPlasma }} - {{ statsRs.mlPlasma }}ml<br>
            <b>Donazioni Piastrine:</b> {{ statsRs.donazioniPiastrine }} - {{ statsRs.mlPiastrine }}<br>
            </p>
        </div>
    </div>
</div>
{% endif %}

<div class="container col-md-5">
    <div class="row">
        <div class="m-2 col p-4 rounded-2" style="background-color: #dfdfdf;line-height: 2">
            <form method="post" action="{% url 'ricerca' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="dataInizio" class="form-label">Data inizio ricerca</label>
                    <input type="date" class="form-control" name="dataInizio" id="dataInizio" required>
                </div>
                <div class="mb-3">
                    <label for="dataFine" class="form-label">Data fine</label>
                    <input type="date" class="form-control" name="dataFine" id="dataFine" required>
                </div>

                <div class="d-md-flex justify-content-md-end">
                    <button type="submit" class="btn text-white" style="background-color: #137935">Ricerca</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock content %}