{% load static %}
<!-- Jupiter - Vincenzo Cardone (vcardone.it) - GNU General Public License v3.0 - https://github.com/vcardoneit/jupiter -->
<!doctype html>
<html lang="it">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Jupiter</title>
		<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="manifest" href="{% static 'manifest.webmanifest' %}" />
	</head>

	<body style="background-color: #fcfcfc">
		<nav class="p-2 text-center" style="background-color: #cc0000;">
		    <a href="/" style="font-size: 32px;font-weight: bold;" class="text-decoration-none text-white">Jupiter - CRI Avola</a>
		</nav>

        {% block content %}{% endblock content %}

		<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'popper.min.js' %}"></script>
		<script src="{% static 'bootstrap.min.js' %}"></script>
	</body>

</html>